{
  "extends": ["evolent"],
  "globals": {
    "it": false,
    "spyOn": false,
    "expect": false,
    "describe": false,
    "beforeEach": false
  },
  "rules": {
    "indent": [2, 2, { "SwitchCase": 1 }]
  }
}